.followers {
	min-height: max-content;
	width: auto;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
}
/*hiding scrollbar for chrome*/
.followers::-webkit-scrollbar {
	display: none;
}
/*hiding scrollbar for firefox and edge*/
.followers {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.follower {
	width: auto;
	display: flex;
	align-items: baseline;
	justify-content: space-around;
	margin-bottom: 15px;
}
.followername {
	padding-left: 2px;
}
.follower:hover {
	background-color: #e8f5fe;
	border-radius: 50px;
	color: var(--twitter-color);
	transition: color 100ms ease-out;
}
